<%- include('partials/header') %>

<div class="homesec">

  <h1><img src="images/logo.jpg" class="logo" alt="">Trendz Flow</h1>
  <br><br><br>
  <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
  <a class="Login btn btn-warning btn-lg" href="/login" role="button">Login</a>

</div>



<%- include('partials/footer') %>
