<%- include("partials/header1") %>
<header>
        <div class="brand-logo">
            <a href="#"><img src="images/logo.jpg" alt="Brand Logo" class="logo"></a>
        </div>
        <div class="bname">
          <h1 class="Amazcart">TRENDZ FLOW</h1>
        </div>

        <input type="checkbox" id="toggle-btn">
        <label for="toggle-btn" class="show-menu-btn"><i class="fas fa-bars"></i></label>

        <nav>
            <ul class="navigation">
                <li><a href="/"><i class="fas fa-house-damage"></i> Home</a></li>
                <li><a href="https://www.instagram.com/slim.shxdyy_/" target="_blank"><i class="fas fa-question"></i> Support</a></li>
                <li><a href="mailto:yuvayuvanesh003@gmail.com?subject=feedback" target="_blank"><i class="fas fa-phone-alt"></i> Contact Us</a></li>
                <label for="toggle-btn" class="hide-menu-btn"><i class="fas fa-times"></i></label>
            </ul>
        </nav>
    </header>
    <section id="Hero">
     <form action="/product" method="get">
      <div class="row">
        <div class="sec col-lg-6 col-md-6 col-sm-12">
          <h4><b>HP PAVILION GAMING LAPTOP</b></h4>
          <img src="images/HP.webp" class="ps4"alt="">
          <ul>
            <br>
            <li><p><small>AMD RYZEN 5 Hexa core Processor</small></p></li>
            <li><p><small>8GB DDR4 RAM 512GB SSD </small></p> </li>
            <li><p><small>64 bit Windows 11 OS Geforce GTX 1650</small></p> </li>
            <li><p><small>15.9 inch Display</small></p> </li>
            <li><h6><b>PRICE:<b>₹65,530</b></b></h6></li>
            <li><button class="btn btn-warning" type="submit">BUY NOW</button></li><br>
          </ul>
        </div>
        <div class="sec col-lg-6 col-md-6 col-sm-12">
          <h4><b>REALME 8 (CYBER BLACK)</b></h4>
          <img src="images/smartphone.webp" class="ps4"alt="">
          <ul>
            <br>
            <li><p><small>MediaTek Helio G95 Processor</small></p></li>
            <li><p><small>8GB RAM 128 GB ROM Expandable Upto 256 GB</small></p> </li>
            <li><p><small>16.26 Super AMOLED Display</small></p> </li>
            <li><p><small>64MP + 8MP + 2MP + 2MP 16MP Front Camera</small></p> </li>
            <li><h6><b>PRICE:<b>₹15,300</b></b></h6></li>
            <li><button class="btn btn-warning" type="submit">BUY NOW</button></li>
          </ul>
        </div>
        <div class="sec col-lg-6 col-md-6 col-sm-12">
          <h4><b>SONY PLAYSTATION 4</b></h4>
          <img src="images/PS4.webp" class="ps4"alt="">
          <ul>
            <br>
            <li><p><small>AMD Jaguar Octa Core</small></p></li>
            <li><p><small>1TB Console, 1 Controller, HDMI Cable, Power Cable, Charging Cable</small></p> </li>
            <li><p><small>Games Included:Spider Man, Ratchet & Clank, Gran Turismo</small></p> </li>
            <li><p><small>Bluetooth Available</small></p> </li>
            <li><h6><b>PRICE:<b>₹32,600</b></b></h6></li>
            <li><button class="btn btn-warning" type="submit">BUY NOW</button></li>
          </ul>
        </div>
        <div class="sec col-lg-6 col-md-6 col-sm-12">
          <h4><b>BOAT SMARTWATCH</b></h4>
          <img src="images/smartwatch.webp" class="ps4"alt="">
          <ul>
            <br>
            <li><p><small>Compatible OS Android 4.4 or above , iOS 8.0 or above</small></p></li>
            <li><p><small>Round display with High Resolution of 360*360 Pixels full touch 1.3 inch HD Screen </small></p> </li>
            <li><p><small>Track your blood oxygen (SpO2), Heart Rate, Blood Pressure and even your Sleep!</small></p> </li>
            <li><p><small>Battery Runtime upto 30 days</small></p> </li>
            <li><h6><b>PRICE:<b>₹3,200</b></b></h6></li>
            <li><button class="btn btn-warning" type="submit">BUY NOW</button></li>
          </ul>
        </div>
      </div>

      </form>

    </section>

